@font-face {font-family: "material-icons";src: url("http://cdn.jsdelivr.net/gh/treeop/treeop.github.io/resource/img/icon/icons.ttf") format("truetype");}
    
    .fi-icon:before {font-family: "material-icons";font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;display: inline-block;text-decoration: inherit;}
    
    .fi-account:before { content: "\f004"; }
    .fi-account-alert:before { content: "\f005"; }
    .fi-account-alert-outline:before { content: "\fB2C"; }
    .fi-account-arrow-left:before { content: "\fB2D"; }
    .fi-account-arrow-left-outline:before { content: "\fB2E"; }
    .fi-account-arrow-right:before { content: "\fB2F"; }
    .fi-account-arrow-right-outline:before { content: "\fB30"; }
    .fi-account-badge:before { content: "\fD83"; }
    .fi-account-badge-alert:before { content: "\fD84"; }
    .fi-account-badge-alert-outline:before { content: "\fD85"; }
    .fi-account-badge-outline:before { content: "\fD86"; }
    .fi-account-box:before { content: "\f006"; }
    .fi-account-box-multiple:before { content: "\f933"; }
    .fi-account-box-outline:before { content: "\f007"; }
    .fi-account-card-details:before { content: "\f5D2"; }
    .fi-account-card-details-outline:before { content: "\fD87"; }
    .fi-account-check:before { content: "\f008"; }
    .fi-account-check-outline:before { content: "\fBBE"; }
    .fi-account-circle:before { content: "\f009"; }
    .fi-account-circle-outline:before { content: "\fB31"; }
    .fi-account-clock:before { content: "\fB32"; }
    .fi-account-clock-outline:before { content: "\fB33"; }
    .fi-account-convert:before { content: "\f00A"; }
    .fi-account-details:before { content: "\f631"; }
    .fi-account-edit:before { content: "\f6BB"; }
    .fi-account-group:before { content: "\f848"; }
    .fi-account-group-outline:before { content: "\fB34"; }
    .fi-account-key:before { content: "\f00B"; }
    .fi-account-key-outline:before { content: "\fBC0"; }
    .fi-account-minus:before { content: "\f00D"; }
    .fi-account-minus-outline:before { content: "\fAEB"; }
    .fi-account-multiple:before { content: "\f00E"; }
    .fi-account-multiple-check:before { content: "\f8C4"; }
    .fi-account-multiple-minus:before { content: "\f5D3"; }
    .fi-account-multiple-minus-outline:before { content: "\fBC1"; }
    .fi-account-multiple-outline:before { content: "\f00F"; }
    .fi-account-multiple-plus:before { content: "\f010"; }
    .fi-account-multiple-plus-outline:before { content: "\f7FF"; }
    .fi-account-network:before { content: "\f011"; }
    .fi-account-network-outline:before { content: "\fBC2"; }
    .fi-account-off:before { content: "\f012"; }
    .fi-account-off-outline:before { content: "\fBC3"; }
    .fi-account-outline:before { content: "\f013"; }
    .fi-account-plus:before { content: "\f014"; }
    .fi-account-plus-outline:before { content: "\f800"; }
    .fi-account-question:before { content: "\fB35"; }
    .fi-account-question-outline:before { content: "\fB36"; }
    .fi-account-remove:before { content: "\f015"; }
    .fi-account-remove-outline:before { content: "\fAEC"; }
    .fi-account-search:before { content: "\f016"; }
    .fi-account-search-outline:before { content: "\f934"; }
    .fi-account-settings:before { content: "\f630"; }
    .fi-account-star:before { content: "\f017"; }
    .fi-account-star-outline:before { content: "\fBC4"; }
    .fi-account-switch:before { content: "\f019"; }
    .fi-adjust:before { content: "\f01A"; }
    .fi-alarm:before { content: "\f020"; }
    .fi-alarm-bell:before { content: "\f78D"; }
    .fi-alarm-check:before { content: "\f021"; }
    .fi-alarm-light:before { content: "\f78E"; }
    .fi-alarm-light-outline:before { content: "\fBC6"; }
    .fi-alarm-multiple:before { content: "\f022"; }
    .fi-alarm-off:before { content: "\f023"; }
    .fi-alarm-plus:before { content: "\f024"; }
    .fi-alarm-snooze:before { content: "\f68D"; }
    .fi-album:before { content: "\f025"; }
    .fi-alert:before { content: "\f026"; }
    .fi-alert-box:before { content: "\f027"; }
    .fi-alert-box-outline:before { content: "\fCC0"; }
    .fi-alert-circle:before { content: "\f028"; }
    .fi-alert-circle-outline:before { content: "\f5D6"; }
    .fi-alert-decagram:before { content: "\f6BC"; }
    .fi-alert-decagram-outline:before { content: "\fCC1"; }
    .fi-alert-octagon:before { content: "\f029"; }
    .fi-alert-octagon-outline:before { content: "\fCC2"; }
    .fi-alert-octagram:before { content: "\f766"; }
    .fi-alert-octagram-outline:before { content: "\fCC3"; }
    .fi-alert-outline:before { content: "\f02A"; }
    .fi-alphabetical:before { content: "\f02C"; }
    .fi-ampersand:before { content: "\fA8C"; }
    .fi-anchor:before { content: "\f031"; }
    .fi-android:before { content: "\f032"; }
    .fi-apple:before { content: "\f035"; }
    .fi-apple-ios:before { content: "\f037"; }
    .fi-application:before { content: "\f614"; }
    .fi-apps:before { content: "\f03B"; }
    .fi-archive:before { content: "\f03C"; }
    .fi-arrow-all:before { content: "\f041"; }
    .fi-arrow-bottom-left:before { content: "\f042"; }
    .fi-arrow-bottom-left-bold-outline:before { content: "\f9B6"; }
    .fi-arrow-bottom-left-thick:before { content: "\f9B7"; }
    .fi-arrow-bottom-right:before { content: "\f043"; }
    .fi-arrow-bottom-right-bold-outline:before { content: "\f9B8"; }
    .fi-arrow-bottom-right-thick:before { content: "\f9B9"; }
    .fi-arrow-collapse:before { content: "\f615"; }
    .fi-arrow-collapse-all:before { content: "\f044"; }
    .fi-arrow-collapse-down:before { content: "\f791"; }
    .fi-arrow-collapse-horizontal:before { content: "\f84B"; }
    .fi-arrow-collapse-left:before { content: "\f792"; }
    .fi-arrow-collapse-right:before { content: "\f793"; }
    .fi-arrow-collapse-up:before { content: "\f794"; }
    .fi-arrow-collapse-vertical:before { content: "\f84C"; }
    .fi-arrow-down:before { content: "\f045"; }
    .fi-arrow-down-bold:before { content: "\f72D"; }
    .fi-arrow-down-bold-box:before { content: "\f72E"; }
    .fi-arrow-down-bold-box-outline:before { content: "\f72F"; }
    .fi-arrow-down-bold-circle:before { content: "\f047"; }
    .fi-arrow-down-bold-circle-outline:before { content: "\f048"; }
    .fi-arrow-down-bold-hexagon-outline:before { content: "\f049"; }
    .fi-arrow-down-bold-outline:before { content: "\f9BE"; }
    .fi-arrow-down-box:before { content: "\f6BF"; }
    .fi-arrow-down-circle:before { content: "\fCB7"; }
    .fi-arrow-down-circle-outline:before { content: "\fCB8"; }
    .fi-arrow-down-drop-circle:before { content: "\f04A"; }
    .fi-arrow-down-drop-circle-outline:before { content: "\f04B"; }
    .fi-arrow-down-thick:before { content: "\f046"; }
    .fi-arrow-expand:before { content: "\f616"; }
    .fi-arrow-expand-all:before { content: "\f04C"; }
    .fi-arrow-expand-down:before { content: "\f795"; }
    .fi-arrow-expand-horizontal:before { content: "\f84D"; }
    .fi-arrow-expand-left:before { content: "\f796"; }
    .fi-arrow-expand-right:before { content: "\f797"; }
    .fi-arrow-expand-up:before { content: "\f798"; }
    .fi-arrow-expand-vertical:before { content: "\f84E"; }
    .fi-arrow-left:before { content: "\f04D"; }
    .fi-arrow-left-bold:before { content: "\f730"; }
    .fi-arrow-left-bold-box:before { content: "\f731"; }
    .fi-arrow-left-bold-box-outline:before { content: "\f732"; }
    .fi-arrow-left-bold-circle:before { content: "\f04F"; }
    .fi-arrow-left-bold-circle-outline:before { content: "\f050"; }
    .fi-arrow-left-bold-hexagon-outline:before { content: "\f051"; }
    .fi-arrow-left-bold-outline:before { content: "\f9BF"; }
    .fi-arrow-left-box:before { content: "\f6C0"; }
    .fi-arrow-left-circle:before { content: "\fCB9"; }
    .fi-arrow-left-circle-outline:before { content: "\fCBA"; }
    .fi-arrow-left-drop-circle:before { content: "\f052"; }
    .fi-arrow-left-drop-circle-outline:before { content: "\f053"; }
    .fi-arrow-left-right-bold-outline:before { content: "\f9C0"; }
    .fi-arrow-left-thick:before { content: "\f04E"; }
    .fi-arrow-right:before { content: "\f054"; }
    .fi-arrow-right-bold:before { content: "\f733"; }
    .fi-arrow-right-bold-box:before { content: "\f734"; }
    .fi-arrow-right-bold-box-outline:before { content: "\f735"; }
    .fi-arrow-right-bold-circle:before { content: "\f056"; }
    .fi-arrow-right-bold-circle-outline:before { content: "\f057"; }
    .fi-arrow-right-bold-hexagon-outline:before { content: "\f058"; }
    .fi-arrow-right-bold-outline:before { content: "\f9C1"; }
    .fi-arrow-right-box:before { content: "\f6C1"; }
    .fi-arrow-right-circle:before { content: "\fCBB"; }
    .fi-arrow-right-circle-outline:before { content: "\fCBC"; }
    .fi-arrow-right-drop-circle:before { content: "\f059"; }
    .fi-arrow-right-drop-circle-outline:before { content: "\f05A"; }
    .fi-arrow-right-thick:before { content: "\f055"; }
    .fi-arrow-split-horizontal:before { content: "\f93A"; }
    .fi-arrow-split-vertical:before { content: "\f93B"; }
    .fi-arrow-top-left:before { content: "\f05B"; }
    .fi-arrow-top-left-bold-outline:before { content: "\f9C2"; }
    .fi-arrow-top-left-thick:before { content: "\f9C3"; }
    .fi-arrow-top-right:before { content: "\f05C"; }
    .fi-arrow-top-right-bold-outline:before { content: "\f9C4"; }
    .fi-arrow-top-right-thick:before { content: "\f9C5"; }
    .fi-arrow-up:before { content: "\f05D"; }
    .fi-arrow-up-bold:before { content: "\f736"; }
    .fi-arrow-up-bold-box:before { content: "\f737"; }
    .fi-arrow-up-bold-box-outline:before { content: "\f738"; }
    .fi-arrow-up-bold-circle:before { content: "\f05F"; }
    .fi-arrow-up-bold-circle-outline:before { content: "\f060"; }
    .fi-arrow-up-bold-hexagon-outline:before { content: "\f061"; }
    .fi-arrow-up-bold-outline:before { content: "\f9C6"; }
    .fi-arrow-up-box:before { content: "\f6C2"; }
    .fi-arrow-up-circle:before { content: "\fCBD"; }
    .fi-arrow-up-circle-outline:before { content: "\fCBE"; }
    .fi-arrow-up-down-bold-outline:before { content: "\f9C7"; }
    .fi-arrow-up-drop-circle:before { content: "\f062"; }
    .fi-arrow-up-drop-circle-outline:before { content: "\f063"; }
    .fi-arrow-up-thick:before { content: "\f05E"; }
    .fi-aspect-ratio:before { content: "\fA23"; }
    .fi-attachment:before { content: "\f066"; }
    .fi-augmented-reality:before { content: "\f84F"; }
    .fi-autorenew:before { content: "\f06A"; }
    .fi-backspace:before { content: "\f06E"; }
    .fi-backspace-outline:before { content: "\fB38"; }
    .fi-ballot:before { content: "\f9C8"; }
    .fi-ballot-outline:before { content: "\f9C9"; }
    .fi-ballot-recount:before { content: "\fC15"; }
    .fi-ballot-recount-outline:before { content: "\fC16"; }
    .fi-bell:before { content: "\f09A"; }
    .fi-bell-alert:before { content: "\fD35"; }
    .fi-bell-circle:before { content: "\fD36"; }
    .fi-bell-circle-outline:before { content: "\fD37"; }
    .fi-bell-off:before { content: "\f09B"; }
    .fi-bell-off-outline:before { content: "\fA90"; }
    .fi-bell-outline:before { content: "\f09C"; }
    .fi-bell-plus:before { content: "\f09D"; }
    .fi-bell-plus-outline:before { content: "\fA91"; }
    .fi-bell-ring:before { content: "\f09E"; }
    .fi-bell-ring-outline:before { content: "\f09F"; }
    .fi-binoculars:before { content: "\f0A5"; }
    .fi-bitcoin:before { content: "\f812"; }
    .fi-blank:before { content: "\f68C"; }
    .fi-bluetooth:before { content: "\f0AF"; }
    .fi-bolt:before { content: "\fD8F"; }
    .fi-book:before { content: "\f0BA"; }
    .fi-book-minus:before { content: "\f5D9"; }
    .fi-book-multiple:before { content: "\f0BB"; }
    .fi-book-multiple-minus:before { content: "\fA93"; }
    .fi-book-multiple-plus:before { content: "\fA94"; }
    .fi-book-multiple-remove:before { content: "\fA95"; }
    .fi-book-multiple-variant:before { content: "\f0BC"; }
    .fi-book-open:before { content: "\f0BD"; }
    .fi-book-open-outline:before { content: "\fB3F"; }
    .fi-book-open-page-variant:before { content: "\f5DA"; }
    .fi-book-open-variant:before { content: "\f0BE"; }
    .fi-book-outline:before { content: "\fB40"; }
    .fi-book-plus:before { content: "\f5DB"; }
    .fi-book-remove:before { content: "\fA96"; }
    .fi-book-variant:before { content: "\f0BF"; }
    .fi-bookmark:before { content: "\f0C0"; }
    .fi-bookmark-check:before { content: "\f0C1"; }
    .fi-bookmark-minus:before { content: "\f9CB"; }
    .fi-bookmark-minus-outline:before { content: "\f9CC"; }
    .fi-bookmark-off:before { content: "\f9CD"; }
    .fi-bookmark-off-outline:before { content: "\f9CE"; }
    .fi-bookmark-outline:before { content: "\f0C3"; }
    .fi-bookmark-plus:before { content: "\f0C5"; }
    .fi-bookmark-plus-outline:before { content: "\f0C4"; }
    .fi-bookmark-remove:before { content: "\f0C6"; }
    .fi-brush:before { content: "\f0E3"; }
    .fi-bug:before { content: "\f0E4"; }
    .fi-bug-check:before { content: "\fA2D"; }
    .fi-bug-check-outline:before { content: "\fA2E"; }
    .fi-bug-outline:before { content: "\fA2F"; }
    .fi-bulletin-board:before { content: "\f0E5"; }
    .fi-calculator:before { content: "\f0EC"; }
    .fi-calculator-variant:before { content: "\fA99"; }
    .fi-calendar:before { content: "\f0ED"; }
    .fi-calendar-alert:before { content: "\fA30"; }
    .fi-calendar-blank:before { content: "\f0EE"; }
    .fi-calendar-blank-outline:before { content: "\fB42"; }
    .fi-calendar-edit:before { content: "\f8A6"; }
    .fi-calendar-export:before { content: "\fB09"; }
    .fi-calendar-import:before { content: "\fB0A"; }
    .fi-calendar-minus:before { content: "\fD38"; }
    .fi-calendar-outline:before { content: "\fB43"; }
    .fi-calendar-plus:before { content: "\f0F3"; }
    .fi-calendar-range:before { content: "\f678"; }
    .fi-calendar-range-outline:before { content: "\fB44"; }
    .fi-calendar-remove:before { content: "\f0F4"; }
    .fi-calendar-remove-outline:before { content: "\fC21"; }
    .fi-calendar-search:before { content: "\f94B"; }
    .fi-calendar-today:before { content: "\f0F6"; }
    .fi-calendar-week:before { content: "\fA32"; }
    .fi-calendar-week-begin:before { content: "\fA33"; }
    .fi-call-made:before { content: "\f0F7"; }
    .fi-call-missed:before { content: "\f0F9"; }
    .fi-call-received:before { content: "\f0FA"; }
        /*(camcorder...?)*/
    .fi-cancel:before { content: "\f739"; }
    .fi-card:before { content: "\fB4B"; }
    .fi-card-bulleted:before { content: "\fB4C"; }
    .fi-card-bulleted-off:before { content: "\fB4D"; }
    .fi-card-bulleted-off-outline:before { content: "\fB4E"; }
    .fi-card-bulleted-outline:before { content: "\fB4F"; }
    .fi-card-bulleted-settings:before { content: "\fB50"; }
    .fi-card-bulleted-settings-outline:before { content: "\fB51"; }
    .fi-card-outline:before { content: "\fB52"; }
    .fi-card-text:before { content: "\fB53"; }
    .fi-card-text-outline:before { content: "\fB54"; }
    .fi-cards:before { content: "\f638"; }
    .fi-cards-club:before { content: "\f8CD"; }
    .fi-cards-diamond:before { content: "\f8CE"; }
    .fi-cards-heart:before { content: "\f8CF"; }
    .fi-cards-outline:before { content: "\f639"; }
    .fi-cards-playing-outline:before { content: "\f63A"; }
    .fi-cards-spade:before { content: "\f8D0"; }
    .fi-cards-variant:before { content: "\f6C6"; }
    .fi-cart:before { content: "\f110"; }
    .fi-cart-arrow-down:before { content: "\fD42"; }
    .fi-cart-arrow-right:before { content: "\fC2A"; }
    .fi-cart-arrow-up:before { content: "\fD43"; }
    .fi-cart-minus:before { content: "\fD44"; }
    .fi-cart-off:before { content: "\f66B"; }
    .fi-cart-outline:before { content: "\f111"; }
    .fi-cart-plus:before { content: "\f112"; }
    .fi-cart-remove:before { content: "\fD45"; }
    .fi-cast:before { content: "\f118"; }
    .fi-cast-connected:before { content: "\f119"; }
    .fi-cast-off:before { content: "\f789"; }
    .fi-chat:before { content: "\fB55"; }
    .fi-chat-alert:before { content: "\fB56"; }
    .fi-chat-processing:before { content: "\fB57"; }
    .fi-check:before { content: "\f12C"; }
    .fi-check-all:before { content: "\f12D"; }
    .fi-check-box-multiple-outline:before { content: "\fC2D"; }
    .fi-check-box-outline:before { content: "\fC2E"; }
    .fi-check-circle:before { content: "\f5E0"; }
    .fi-check-circle-outline:before { content: "\f5E1"; }
    .fi-check-decagram:before { content: "\f790"; }
    .fi-check-network:before { content: "\fC2F"; }
    .fi-check-network-outline:before { content: "\fC30"; }
    .fi-check-outline:before { content: "\f854"; }
    .fi-checkbook:before { content: "\fA9C"; }
    .fi-checkbox-blank:before { content: "\f12E"; }
    .fi-checkbox-blank-circle:before { content: "\f12F"; }
    .fi-checkbox-blank-circle-outline:before { content: "\f130"; }
    .fi-checkbox-blank-outline:before { content: "\f131"; }
    .fi-checkbox-intermediate:before { content: "\f855"; }
    .fi-checkbox-marked:before { content: "\f132"; }
    .fi-checkbox-marked-circle:before { content: "\f133"; }
    .fi-checkbox-marked-circle-outline:before { content: "\f134"; }
    .fi-checkbox-marked-outline:before { content: "\f135"; }
    .fi-checkbox-multiple-blank:before { content: "\f136"; }
    .fi-checkbox-multiple-blank-circle:before { content: "\f63B"; }
    .fi-checkbox-multiple-blank-circle-outline:before { content: "\f63C"; }
    .fi-checkbox-multiple-blank-outline:before { content: "\f137"; }
    .fi-checkbox-multiple-marked:before { content: "\f138"; }
    .fi-checkbox-multiple-marked-circle:before { content: "\f63D"; }
    .fi-checkbox-multiple-marked-circle-outline:before { content: "\f63E"; }
    .fi-checkbox-multiple-marked-outline:before { content: "\f139"; }
    .fi-checkerboard:before { content: "\f13A"; }
    .fi-chess-bishop:before { content: "\f85B"; }
    .fi-chess-king:before { content: "\f856"; }
    .fi-chess-knight:before { content: "\f857"; }
    .fi-chess-pawn:before { content: "\f858"; }
    .fi-chess-queen:before { content: "\f859"; }
    .fi-chess-rook:before { content: "\f85A"; }
    .fi-chevron-double-down:before { content: "\f13C"; }
    .fi-chevron-double-left:before { content: "\f13D"; }
    .fi-chevron-double-right:before { content: "\f13E"; }
    .fi-chevron-double-up:before { content: "\f13F"; }
    .fi-chevron-down:before { content: "\f140"; }
    .fi-chevron-down-box:before { content: "\f9D5"; }
    .fi-chevron-down-box-outline:before { content: "\f9D6"; }
    .fi-chevron-down-circle:before { content: "\fB0B"; }
    .fi-chevron-down-circle-outline:before { content: "\fB0C"; }
    .fi-chevron-left:before { content: "\f141"; }
    .fi-chevron-left-box:before { content: "\f9D7"; }
    .fi-chevron-left-box-outline:before { content: "\f9D8"; }
    .fi-chevron-left-circle:before { content: "\fB0D"; }
    .fi-chevron-left-circle-outline:before { content: "\fB0E"; }
    .fi-chevron-right:before { content: "\f142"; }
    .fi-chevron-right-box:before { content: "\f9D9"; }
    .fi-chevron-right-box-outline:before { content: "\f9DA"; }
    .fi-chevron-right-circle:before { content: "\fB0F"; }
    .fi-chevron-right-circle-outline:before { content: "\fB10"; }
    .fi-chevron-triple-down:before { content: "\fD95"; }
    .fi-chevron-triple-left:before { content: "\fD96"; }
    .fi-chevron-triple-right:before { content: "\fD97"; }
    .fi-chevron-triple-up:before { content: "\fD98"; }
    .fi-chevron-up:before { content: "\f143"; }
    .fi-chevron-up-box:before { content: "\f9DB"; }
    .fi-chevron-up-box-outline:before { content: "\f9DC"; }
    .fi-chevron-up-circle:before { content: "\fB11"; }
    .fi-chevron-up-circle-outline:before { content: "\fB12"; }
    .fi-circle:before { content: "\f764"; }
    .fi-circle-edit-outline:before { content: "\f8D4"; }
    .fi-circle-medium:before { content: "\f9DD"; }
    .fi-circle-outline:before { content: "\f765"; }
    .fi-circle-small:before { content: "\f9DE"; }
    .fi-clock:before { content: "\f953"; }
    .fi-clock-alert:before { content: "\f954"; }
    .fi-clock-alert-outline:before { content: "\f5CE"; }
    .fi-clock-end:before { content: "\f151"; }
    .fi-clock-outline:before { content: "\f150"; }
    .fi-close:before { content: "\f156"; }
    .fi-close-box:before { content: "\f157"; }
    .fi-close-box-outline:before { content: "\f158"; }
    .fi-close-circle:before { content: "\f159"; }
    .fi-close-circle-outline:before { content: "\f15A"; }
    .fi-close-outline:before { content: "\f6C8"; }
    .fi-cloud:before { content: "\f15F"; }
    .fi-cloud-alert:before { content: "\f9DF"; }
    .fi-cloud-check:before { content: "\f160"; }
    .fi-cloud-circle:before { content: "\f161"; }
    .fi-cloud-download:before { content: "\f162"; }
    .fi-cloud-download-outline:before { content: "\fB59"; }
    .fi-cloud-off-outline:before { content: "\f164"; }
    .fi-cloud-outline:before { content: "\f163"; }
    .fi-cloud-question:before { content: "\fA38"; }
    .fi-cloud-search:before { content: "\f955"; }
    .fi-cloud-search-outline:before { content: "\f956"; }
    .fi-cloud-sync:before { content: "\f63F"; }
    .fi-cloud-upload:before { content: "\f167"; }
    .fi-cloud-upload-outline:before { content: "\fB5A"; }
    .fi-code-array:before { content: "\f168"; }
    .fi-code-braces:before { content: "\f169"; }
    .fi-code-brackets:before { content: "\f16A"; }
    .fi-code-tags:before { content: "\f174"; }
      /*  (collage?)*/
    .fi-coins:before { content: "\f694"; }
    .fi-comment:before { content: "\f17A"; }
    .fi-comment-account:before { content: "\f17B"; }
    .fi-comment-account-outline:before { content: "\f17C"; }
    .fi-comment-alert:before { content: "\f17D"; }
    .fi-comment-alert-outline:before { content: "\f17E"; }
    .fi-comment-arrow-left:before { content: "\f9E0"; }
    .fi-comment-arrow-left-outline:before { content: "\f9E1"; }
    .fi-comment-arrow-right:before { content: "\f9E2"; }
    .fi-comment-arrow-right-outline:before { content: "\f9E3"; }
    .fi-comment-check:before { content: "\f17F"; }
    .fi-comment-check-outline:before { content: "\f180"; }
    .fi-comment-outline:before { content: "\f182"; }
    .fi-comment-plus:before { content: "\f9E4"; }
    .fi-comment-plus-outline:before { content: "\f183"; }
    .fi-comment-processing:before { content: "\f184"; }
    .fi-comment-processing-outline:before { content: "\f185"; }
    .fi-comment-question:before { content: "\f816"; }
    .fi-comment-question-outline:before { content: "\f186"; }
    .fi-comment-remove:before { content: "\f5DE"; }
    .fi-comment-remove-outline:before { content: "\f187"; }
    .fi-comment-text:before { content: "\f188"; }
    .fi-comment-text-outline:before { content: "\f189"; }
    .fi-compass:before { content: "\f18B"; }
    .fi-compass-off:before { content: "\fB5C"; }
    .fi-compass-off-outline:before { content: "\fB5D"; }
    .fi-compass-outline:before { content: "\f18C"; }
    .fi-console:before { content: "\f18D"; }
    .fi-console-line:before { content: "\f7B6"; }
    .fi-contact-mail:before { content: "\f18E"; }
    .fi-contactless-payment:before { content: "\fD46"; }
    .fi-contacts:before { content: "\f6CA"; }
    .fi-controller-classic:before { content: "\fB5E"; }
    .fi-controller-classic-outline:before { content: "\fB5F"; }
    .fi-copyright:before { content: "\f5E6"; }
    .fi-counter:before { content: "\f199"; }
    .fi-credit-card:before { content: "\f19B"; }
    .fi-credit-card-plus:before { content: "\f675"; }
    .fi-credit-card-scan:before { content: "\f19D"; }
    .fi-delete:before { content: "\f1C0"; }
    .fi-delete-circle:before { content: "\f682"; }
    .fi-delete-circle-outline:before { content: "\fB64"; }
    .fi-delete-empty:before { content: "\f6CB"; }
    .fi-delete-forever:before { content: "\f5E8"; }
    .fi-delete-forever-outline:before { content: "\fB65"; }
    .fi-delete-outline:before { content: "\f9E6"; }
    .fi-delete-restore:before { content: "\f818"; }
    .fi-developer-board:before { content: "\f696"; }
    .fi-dialpad:before { content: "\f61C"; }
    .fi-dice-1:before { content: "\f1CA"; }
    .fi-dice-2:before { content: "\f1CB"; }
    .fi-dice-3:before { content: "\f1CC"; }
    .fi-dice-4:before { content: "\f1CD"; }
    .fi-dice-5:before { content: "\f1CE"; }
    .fi-dice-6:before { content: "\f1CF"; }
    .fi-dice-multiple:before { content: "\f76D"; }
    .fi-dictionary:before { content: "\f61D"; }
    .fi-directions:before { content: "\f1D0"; }
    .fi-directions-fork:before { content: "\f641"; }
    .fi-division:before { content: "\f1D4"; }
    .fi-division-box:before { content: "\f1D5"; }
    .fi-dns:before { content: "\f1D6"; }
    .fi-dns-outline:before { content: "\fB68"; }
    .fi-do-not-disturb:before { content: "\f697"; }
    .fi-do-not-disturb-off:before { content: "\f698"; }
    .fi-dots-horizontal:before { content: "\f1D8"; }
    .fi-dots-horizontal-circle:before { content: "\f7C2"; }
    .fi-dots-horizontal-circle-outline:before { content: "\fB69"; }
    .fi-dots-vertical:before { content: "\f1D9"; }
    .fi-dots-vertical-circle:before { content: "\f7C3"; }
    .fi-dots-vertical-circle-outline:before { content: "\fB6A"; }
    .fi-download:before { content: "\f1DA"; }
    .fi-download-outline:before { content: "\fB6B"; }
    .fi-drag:before { content: "\f1DB"; }
    .fi-drag-horizontal:before { content: "\f1DC"; }
    .fi-drag-variant:before { content: "\fB6C"; }
    .fi-drag-vertical:before { content: "\f1DD"; }
    .fi-earth:before { content: "\f1E7"; }
    .fi-earth-off:before { content: "\f1E8"; }
    .fi-email:before { content: "\f1EE"; }
    .fi-email-alert:before { content: "\f6CE"; }
    .fi-email-box:before { content: "\fCDF"; }
    .fi-email-check:before { content: "\fAB0"; }
    .fi-email-check-outline:before { content: "\fAB1"; }
    .fi-email-lock:before { content: "\f1F1"; }
    .fi-email-mark-as-unread:before { content: "\fB6E"; }
    .fi-email-open:before { content: "\f1EF"; }
    .fi-email-open-outline:before { content: "\f5EF"; }
    .fi-email-outline:before { content: "\f1F0"; }
    .fi-email-plus:before { content: "\f9EA"; }
    .fi-email-plus-outline:before { content: "\f9EB"; }
    .fi-email-variant:before { content: "\f5F0"; }
    .fi-emoticon:before { content: "\fC44"; }
    .fi-equal:before { content: "\f1FC"; }
    .fi-equal-box:before { content: "\f1FD"; }
    .fi-exit-to-app:before { content: "\f206"; }
    .fi-export:before { content: "\f207"; }
    .fi-export-variant:before { content: "\fB6F"; }
    .fi-face:before { content: "\f643"; }
    .fi-face-agent:before { content: "\fD4C"; }
    .fi-face-outline:before { content: "\fB72"; }
    .fi-face-profile:before { content: "\f644"; }
    .fi-face-recognition:before { content: "\fC57"; }
    .fi-fast-forward:before { content: "\f211"; }
    .fi-fast-forward-outline:before { content: "\f6D1"; }
    .fi-file:before { content: "\f214"; }
    .fi-file-alert:before { content: "\fA4A"; }
    .fi-file-alert-outline:before { content: "\fA4B"; }
    .fi-file-cabinet:before { content: "\fAB5"; }
    .fi-file-check:before { content: "\f216"; }
    .fi-file-cloud:before { content: "\f217"; }
    .fi-file-compare:before { content: "\f8A9"; }
    .fi-file-document:before { content: "\f219"; }
    .fi-file-document-box:before { content: "\f21A"; }
    .fi-file-document-box-multiple:before { content: "\fAB6"; }
    .fi-file-document-box-multiple-outline:before { content: "\fAB7"; }
    .fi-file-document-box-outline:before { content: "\f9EC"; }
    .fi-file-document-edit:before { content: "\fDA4"; }
    .fi-file-document-edit-outline:before { content: "\fDA5"; }
    .fi-file-document-outline:before { content: "\f9ED"; }
    .fi-file-download:before { content: "\f964"; }
    .fi-file-download-outline:before { content: "\f965"; }
    .fi-file-export:before { content: "\f21D"; }
    .fi-file-import:before { content: "\f220"; }
    .fi-file-lock:before { content: "\f221"; }
    .fi-file-move:before { content: "\fAB8"; }
    .fi-file-multiple:before { content: "\f222"; }
    .fi-file-outline:before { content: "\f224"; }
    .fi-file-plus:before { content: "\f751"; }
    .fi-file-remove:before { content: "\fB74"; }
    .fi-file-restore:before { content: "\f670"; }
    .fi-file-send:before { content: "\f22A"; }
    .fi-file-tree:before { content: "\f645"; }
    .fi-file-upload:before { content: "\fA4C"; }
    .fi-file-upload-outline:before { content: "\fA4D"; }
    .fi-fingerprint:before { content: "\f237"; }
    .fi-folder:before { content: "\f24B"; }
    .fi-folder-alert:before { content: "\fDA8"; }
    .fi-folder-alert-outline:before { content: "\fDA9"; }
    .fi-folder-download:before { content: "\f24D"; }
    .fi-folder-edit:before { content: "\f8DD"; }
    .fi-folder-edit-outline:before { content: "\fDAA"; }
    .fi-folder-move:before { content: "\f252"; }
    .fi-folder-multiple:before { content: "\f253"; }
    .fi-folder-multiple-image:before { content: "\f254"; }
    .fi-folder-multiple-outline:before { content: "\f255"; }
    .fi-folder-open:before { content: "\f76F"; }
    .fi-folder-open-outline:before { content: "\fDAB"; }
    .fi-folder-outline:before { content: "\f256"; }
    .fi-folder-plus:before { content: "\f257"; }
    .fi-folder-plus-outline:before { content: "\fB79"; }
    .fi-folder-remove:before { content: "\f258"; }
    .fi-folder-remove-outline:before { content: "\fB7A"; }
    .fi-folder-sync:before { content: "\fCE7"; }
    .fi-folder-sync-outline:before { content: "\fCE8"; }
    .fi-folder-text:before { content: "\fC5E"; }
    .fi-folder-text-outline:before { content: "\fC5F"; }
    .fi-folder-upload:before { content: "\f259"; }
    .fi-format-align-center:before { content: "\f260"; }
    .fi-format-align-justify:before { content: "\f261"; }
    .fi-format-align-left:before { content: "\f262"; }
    .fi-format-align-middle:before { content: "\f753"; }
    .fi-format-align-right:before { content: "\f263"; }
    .fi-format-bold:before { content: "\f264"; }
    .fi-format-clear:before { content: "\f265"; }
    .fi-format-color-fill:before { content: "\f266"; }
    .fi-format-color-text:before { content: "\f69D"; }
    .fi-format-columns:before { content: "\f8DE"; }
    .fi-format-float-center:before { content: "\f267"; }
    .fi-format-float-left:before { content: "\f268"; }
    .fi-format-float-none:before { content: "\f269"; }
    .fi-format-float-right:before { content: "\f26A"; }
    .fi-format-font:before { content: "\f6D5"; }
    .fi-format-font-size-decrease:before { content: "\f9F2"; }
    .fi-format-font-size-increase:before { content: "\f9F3"; }
    .fi-format-header-1:before { content: "\f26B"; }
    .fi-format-header-2:before { content: "\f26C"; }
    .fi-format-header-3:before { content: "\f26D"; }
    .fi-format-header-4:before { content: "\f26E"; }
    .fi-format-header-5:before { content: "\f26F"; }
    .fi-format-header-6:before { content: "\f270"; }
    .fi-format-header-decrease:before { content: "\f271"; }
    .fi-format-header-equal:before { content: "\f272"; }
    .fi-format-header-increase:before { content: "\f273"; }
    .fi-format-header-pound:before { content: "\f274"; }
    .fi-format-horizontal-align-center:before { content: "\f61E"; }
    .fi-format-horizontal-align-left:before { content: "\f61F"; }
    .fi-format-horizontal-align-right:before { content: "\f620"; }
    .fi-format-indent-decrease:before { content: "\f275"; }
    .fi-format-indent-increase:before { content: "\f276"; }
    .fi-format-italic:before { content: "\f277"; }
    .fi-format-letter-case:before { content: "\fB19"; }
    .fi-format-letter-case-lower:before { content: "\fB1A"; }
    .fi-format-letter-case-upper:before { content: "\fB1B"; }
    .fi-format-line-spacing:before { content: "\f278"; }
    .fi-format-line-style:before { content: "\f5C8"; }
    .fi-format-line-weight:before { content: "\f5C9"; }
    .fi-format-list-bulleted:before { content: "\f279"; }
    .fi-format-list-bulleted-square:before { content: "\fDAC"; }
    .fi-format-list-bulleted-type:before { content: "\f27A"; }
    .fi-format-list-checkbox:before { content: "\f969"; }
    .fi-format-list-checks:before { content: "\f755"; }
    .fi-format-list-numbered:before { content: "\f27B"; }
    .fi-format-list-numbered-rtl:before { content: "\fCE9"; }
    .fi-format-page-break:before { content: "\f6D6"; }
    .fi-format-paint:before { content: "\f27C"; }
    .fi-format-paragraph:before { content: "\f27D"; }
    .fi-format-pilcrow:before { content: "\f6D7"; }
    .fi-format-quote-close:before { content: "\f27E"; }
    .fi-format-quote-open:before { content: "\f756"; }
    .fi-format-size:before { content: "\f27F"; }
    .fi-format-strikethrough:before { content: "\f280"; }
    .fi-format-strikethrough-variant:before { content: "\f281"; }
    .fi-format-subscript:before { content: "\f282"; }
    .fi-format-superscript:before { content: "\f283"; }
    .fi-format-text:before { content: "\f284"; }
    .fi-format-text-wrapping-clip:before { content: "\fCEA"; }
    .fi-format-text-wrapping-overflow:before { content: "\fCEB"; }
    .fi-format-text-wrapping-wrap:before { content: "\fCEC"; }
    .fi-format-textbox:before { content: "\fCED"; }
    .fi-format-title:before { content: "\f5F4"; }
    .fi-format-underline:before { content: "\f287"; }
    .fi-format-vertical-align-bottom:before { content: "\f621"; }
    .fi-format-vertical-align-center:before { content: "\f622"; }
    .fi-format-vertical-align-top:before { content: "\f623"; }
    .fi-format-wrap-inline:before { content: "\f288"; }
    .fi-format-wrap-square:before { content: "\f289"; }
    .fi-format-wrap-tight:before { content: "\f28A"; }
    .fi-format-wrap-top-bottom:before { content: "\f28B"; }
    .fi-forward:before { content: "\f28D"; }
    .fi-fountain-pen:before { content: "\fCEE"; }
    .fi-fountain-pen-tip:before { content: "\fCEF"; }
    .fi-fullscreen:before { content: "\f293"; }
    .fi-fullscreen-exit:before { content: "\f294"; }
    .fi-gift:before { content: "\f2A1"; }
    .fi-grease-pencil:before { content: "\f648"; }
    .fi-greater-than:before { content: "\f96C"; }
    .fi-greater-than-or-equal:before { content: "\f96D"; }
    .fi-grid:before { content: "\f2C1"; }
    .fi-grid-large:before { content: "\f757"; }
    .fi-grid-off:before { content: "\f2C2"; }
    .fi-help:before { content: "\f2D6"; }
    .fi-help-box:before { content: "\f78A"; }
    .fi-help-circle:before { content: "\f2D7"; }
    .fi-help-circle-outline:before { content: "\f625"; }
    .fi-history:before { content: "\f2DA"; }
    .fi-home:before { content: "\f2DC"; }
    .fi-home-alert:before { content: "\f87A"; }
    .fi-home-circle:before { content: "\f7D1"; }
    .fi-home-outline:before { content: "\f6A0"; }
    .fi-image:before { content: "\f2E9"; }
    .fi-image-off:before { content: "\f82A"; }
    .fi-image-plus:before { content: "\f87B"; }
    .fi-import:before { content: "\f2FA"; }
    .fi-inbox:before { content: "\f686"; }
    .fi-inbox-arrow-down:before { content: "\f2FB"; }
    .fi-inbox-arrow-up:before { content: "\f3D1"; }
    .fi-inbox-multiple:before { content: "\f8AF"; }
    .fi-inbox-multiple-outline:before { content: "\fB84"; }
    .fi-infinity:before { content: "\f6E3"; }
    .fi-information:before { content: "\f2FC"; }
    .fi-information-outline:before { content: "\f2FD"; }
    .fi-ip:before { content: "\fA5E"; }
    .fi-key:before { content: "\f306"; }
    .fi-key-change:before { content: "\f307"; }
    .fi-key-minus:before { content: "\f308"; }
    .fi-key-outline:before { content: "\fDB2"; }
    .fi-key-plus:before { content: "\f309"; }
    .fi-key-remove:before { content: "\f30A"; }
    .fi-key-variant:before { content: "\f30B"; }
    .fi-kickstarter:before { content: "\f744"; }
    .fi-label:before { content: "\f315"; }
    .fi-label-off:before { content: "\fACA"; }
    .fi-label-off-outline:before { content: "\fACB"; }
    .fi-label-outline:before { content: "\f316"; }
    .fi-label-variant:before { content: "\fACC"; }
    .fi-label-variant-outline:before { content: "\fACD"; }
    .fi-language-c:before { content: "\f671"; }
    .fi-language-cpp:before { content: "\f672"; }
    .fi-language-css3:before { content: "\f31C"; }
    .fi-language-html5:before { content: "\f31D"; }
    .fi-language-javascript:before { content: "\f31E"; }
    .fi-language-python:before { content: "\f320"; }
    .fi-lead-pencil:before { content: "\f64F"; }
    .fi-leaf:before { content: "\f32A"; }
    .fi-leaf-maple:before { content: "\fC6F"; }
    .fi-less-than:before { content: "\f97B"; }
    .fi-less-than-or-equal:before { content: "\f97C"; }
    .fi-link:before { content: "\f337"; }
    .fi-link-box:before { content: "\fCF6"; }
    .fi-link-box-outline:before { content: "\fCF7"; }
    .fi-link-box-variant:before { content: "\fCF8"; }
    .fi-link-box-variant-outline:before { content: "\fCF9"; }
    .fi-link-off:before { content: "\f338"; }
    .fi-link-plus:before { content: "\fC70"; }
    .fi-link-variant:before { content: "\f339"; }
    .fi-link-variant-off:before { content: "\f33A"; }
    .fi-linkedin:before { content: "\f33B"; }
    .fi-linkedin-box:before { content: "\f33C"; }
    .fi-linux:before { content: "\f33D"; }
    .fi-lock:before { content: "\f33E"; }
    .fi-lock-open:before { content: "\f33F"; }
    .fi-lock-open-outline:before { content: "\f340"; }
    .fi-lock-outline:before { content: "\f341"; }
    .fi-lock-plus:before { content: "\f5FB"; }
    .fi-loop:before { content: "\f6EA"; }
    .fi-map:before { content: "\f34D"; }
    .fi-map-legend:before { content: "\fA00"; }
    .fi-map-marker:before { content: "\f34E"; }
    .fi-map-marker-check:before { content: "\fC71"; }
    .fi-map-marker-circle:before { content: "\f34F"; }
    .fi-map-marker-distance:before { content: "\f8EF"; }
    .fi-map-marker-minus:before { content: "\f650"; }
    .fi-map-marker-multiple:before { content: "\f350"; }
    .fi-map-marker-off:before { content: "\f351"; }
    .fi-map-marker-outline:before { content: "\f7D8"; }
    .fi-map-marker-path:before { content: "\fCFC"; }
    .fi-map-marker-plus:before { content: "\f651"; }
    .fi-map-marker-radius:before { content: "\f352"; }
    .fi-map-minus:before { content: "\f980"; }
    .fi-map-outline:before { content: "\f981"; }
    .fi-map-plus:before { content: "\f982"; }
    .fi-markdown:before { content: "\f354"; }
    .fi-marker:before { content: "\f652"; }
    .fi-marker-cancel:before { content: "\fDB5"; }
    .fi-marker-check:before { content: "\f355"; }
    .fi-menu:before { content: "\f35C"; }
    .fi-menu-down:before { content: "\f35D"; }
    .fi-menu-down-outline:before { content: "\f6B5"; }
    .fi-menu-left:before { content: "\f35E"; }
    .fi-menu-left-outline:before { content: "\fA01"; }
    .fi-menu-open:before { content: "\fB87"; }
    .fi-menu-right:before { content: "\f35F"; }
    .fi-menu-right-outline:before { content: "\fA02"; }
    .fi-menu-swap:before { content: "\fA63"; }
    .fi-menu-swap-outline:before { content: "\fA64"; }
    .fi-menu-up:before { content: "\f360"; }
    .fi-menu-up-outline:before { content: "\f6B6"; }
    .fi-message:before { content: "\f361"; }
    .fi-message-alert:before { content: "\f362"; }
    .fi-message-alert-outline:before { content: "\fA03"; }
    .fi-message-bulleted:before { content: "\f6A1"; }
    .fi-message-bulleted-off:before { content: "\f6A2"; }
    .fi-message-draw:before { content: "\f363"; }
    .fi-message-image:before { content: "\f364"; }
    .fi-message-outline:before { content: "\f365"; }
    .fi-message-plus:before { content: "\f653"; }
    .fi-message-processing:before { content: "\f366"; }
    .fi-message-reply:before { content: "\f367"; }
    .fi-message-reply-text:before { content: "\f368"; }
    .fi-message-settings:before { content: "\f6EF"; }
    .fi-message-settings-variant:before { content: "\f6F0"; }
    .fi-message-text:before { content: "\f369"; }
    .fi-message-text-outline:before { content: "\f36A"; }
    .fi-message-video:before { content: "\f36B"; }
    .fi-microphone:before { content: "\f36C"; }
    .fi-microphone-minus:before { content: "\f8B2"; }
    .fi-microphone-off:before { content: "\f36D"; }
    .fi-microphone-outline:before { content: "\f36E"; }
    .fi-microphone-plus:before { content: "\f8B3"; }
    .fi-microphone-settings:before { content: "\f36F"; }
    .fi-minus:before { content: "\f374"; }
    .fi-minus-box:before { content: "\f375"; }
    .fi-minus-box-outline:before { content: "\f6F1"; }
    .fi-minus-circle:before { content: "\f376"; }
    .fi-minus-circle-outline:before { content: "\f377"; }
    .fi-more:before { content: "\f37B"; }
    .fi-multiplication:before { content: "\f382"; }
    .fi-multiplication-box:before { content: "\f383"; }
    .fi-navigation:before { content: "\f390"; }
    .fi-near-me:before { content: "\f5CD"; }
    .fi-needle:before { content: "\f391"; }
    .fi-nfc:before { content: "\f396"; }
    .fi-nfc-variant:before { content: "\f398"; }
    .fi-not-equal:before { content: "\f98C"; }
    .fi-not-equal-variant:before { content: "\f98D"; }
    .fi-note:before { content: "\f39A"; }
    .fi-note-multiple:before { content: "\f6B7"; }
    .fi-note-multiple-outline:before { content: "\f6B8"; }
    .fi-note-outline:before { content: "\f39B"; }
    .fi-note-plus:before { content: "\f39C"; }
    .fi-note-plus-outline:before { content: "\f39D"; }
    .fi-note-text:before { content: "\f39E"; }
    .fi-notebook:before { content: "\f82D"; }
    .fi-notification-clear-all:before { content: "\f39F"; }
    .fi-numeric:before { content: "\f3A0"; }
    .fi-nut:before { content: "\f6F7"; }
    .fi-one-up:before { content: "\fB89"; }
    .fi-pac-man:before { content: "\fB8B"; }
    .fi-page-first:before { content: "\f600"; }
    .fi-page-last:before { content: "\f601"; }
    .fi-page-layout-body:before { content: "\f6F9"; }
    .fi-page-layout-footer:before { content: "\f6FA"; }
    .fi-page-layout-header:before { content: "\f6FB"; }
    .fi-page-layout-sidebar-left:before { content: "\f6FC"; }
    .fi-page-layout-sidebar-right:before { content: "\f6FD"; }
    .fi-page-next:before { content: "\fB8C"; }
    .fi-page-next-outline:before { content: "\fB8D"; }
    .fi-page-previous:before { content: "\fB8E"; }
    .fi-page-previous-outline:before { content: "\fB8F"; }
    .fi-palette:before { content: "\f3D8"; }
    .fi-palette-advanced:before { content: "\f3D9"; }
    .fi-palette-outline:before { content: "\fDE8"; }
    .fi-palette-swatch:before { content: "\f8B4"; }
    .fi-paperclip:before { content: "\f3E2"; }
    .fi-pause:before { content: "\f3E4"; }
    .fi-pause-circle:before { content: "\f3E5"; }
    .fi-pause-circle-outline:before { content: "\f3E6"; }
    .fi-paypal:before { content: "\f882"; }
    .fi-pen:before { content: "\f3EA"; }
    .fi-pen-lock:before { content: "\fDBE"; }
    .fi-pen-minus:before { content: "\fDBF"; }
    .fi-pen-off:before { content: "\fDC0"; }
    .fi-pen-plus:before { content: "\fDC1"; }
    .fi-pen-remove:before { content: "\fDC2"; }
    .fi-pencil:before { content: "\f3EB"; }
    .fi-pencil-box:before { content: "\f3EC"; }
    .fi-pencil-box-outline:before { content: "\f3ED"; }
    .fi-pencil-circle:before { content: "\f6FE"; }
    .fi-pencil-circle-outline:before { content: "\f775"; }
    .fi-pencil-lock:before { content: "\f3EE"; }
    .fi-pencil-lock-outline:before { content: "\fDC3"; }
    .fi-pencil-minus:before { content: "\fDC4"; }
    .fi-pencil-minus-outline:before { content: "\fDC5"; }
    .fi-pencil-off:before { content: "\f3EF"; }
    .fi-pencil-off-outline:before { content: "\fDC6"; }
    .fi-pencil-outline:before { content: "\fC92"; }
    .fi-pencil-plus:before { content: "\fDC7"; }
    .fi-pencil-plus-outline:before { content: "\fDC8"; }
    .fi-pencil-remove:before { content: "\fDC9"; }
    .fi-pencil-remove-outline:before { content: "\fDCA"; }
    .fi-percent:before { content: "\f3F0"; }
    .fi-phone:before { content: "\f3F2"; }
    .fi-phone-forward:before { content: "\f3F4"; }
    .fi-phone-hangup:before { content: "\f3F5"; }
    .fi-phone-in-talk:before { content: "\f3F6"; }
    .fi-phone-incoming:before { content: "\f3F7"; }
    .fi-phone-log:before { content: "\f3F9"; }
    .fi-phone-minus:before { content: "\f658"; }
    .fi-phone-missed:before { content: "\f3FA"; }
    .fi-phone-off:before { content: "\fDCB"; }
    .fi-phone-outgoing:before { content: "\f3FB"; }
    .fi-phone-outline:before { content: "\fDCC"; }
    .fi-phone-paused:before { content: "\f3FC"; }
    .fi-phone-plus:before { content: "\f659"; }
    .fi-phone-return:before { content: "\f82E"; }
    .fi-phone-settings:before { content: "\f3FD"; }
    .fi-pin:before { content: "\f403"; }
    .fi-pin-off:before { content: "\f404"; }
    .fi-pin-off-outline:before { content: "\f92F"; }
    .fi-pin-outline:before { content: "\f930"; }
    .fi-pine-tree:before { content: "\f405"; }
    .fi-pine-tree-box:before { content: "\f406"; }
    .fi-play:before { content: "\f40A"; }
    .fi-play-box-outline:before { content: "\f40B"; }
    .fi-play-circle:before { content: "\f40C"; }
    .fi-play-circle-outline:before { content: "\f40D"; }
    .fi-play-pause:before { content: "\f40E"; }
    .fi-plus:before { content: "\f415"; }
    .fi-plus-box:before { content: "\f416"; }
    .fi-plus-box-outline:before { content: "\f703"; }
    .fi-plus-circle:before { content: "\f417"; }
    .fi-plus-circle-multiple-outline:before { content: "\f418"; }
    .fi-plus-circle-outline:before { content: "\f419"; }
    .fi-plus-minus:before { content: "\f991"; }
    .fi-plus-minus-box:before { content: "\f992"; }
    .fi-plus-one:before { content: "\f41B"; }
    .fi-plus-outline:before { content: "\f704"; }
    .fi-point-of-sale:before { content: "\fD6E"; }
    .fi-poll:before { content: "\f41F"; }
    .fi-poll-box:before { content: "\f420"; }
    .fi-printer:before { content: "\f42A"; }
    .fi-printer-alert:before { content: "\f42C"; }
    .fi-printer-settings:before { content: "\f706"; }
    .fi-professional-hexagon:before { content: "\f42D"; }
    .fi-progress-alert:before { content: "\fC98"; }
    .fi-progress-check:before { content: "\f994"; }
    .fi-progress-clock:before { content: "\f995"; }
    .fi-progress-download:before { content: "\f996"; }
    .fi-progress-upload:before { content: "\f997"; }
    .fi-progress-wrench:before { content: "\fC99"; }
    .fi-publish:before { content: "\f6A6"; }
    .fi-qrcode:before { content: "\f432"; }
    .fi-qrcode-scan:before { content: "\f433"; }
    .fi-radio:before { content: "\f439"; }
    .fi-radio-am:before { content: "\fC9A"; }
    .fi-radio-fm:before { content: "\fC9B"; }
    .fi-radio-handheld:before { content: "\f43A"; }
    .fi-radiobox-blank:before { content: "\f43D"; }
    .fi-radiobox-marked:before { content: "\f43E"; }
    .fi-read:before { content: "\f447"; }
    .fi-receipt:before { content: "\f449"; }
    .fi-record:before { content: "\f44A"; }
    .fi-redo:before { content: "\f44E"; }
    .fi-redo-variant:before { content: "\f44F"; }
    .fi-regex:before { content: "\f451"; }
    .fi-registered-trademark:before { content: "\fA66"; }
    .fi-reload:before { content: "\f453"; }
    .fi-reminder:before { content: "\f88B"; }
    .fi-repeat:before { content: "\f456"; }
    .fi-repeat-off:before { content: "\f457"; }
    .fi-repeat-once:before { content: "\f458"; }
    .fi-replay:before { content: "\f459"; }
    .fi-reply:before { content: "\f45A"; }
    .fi-reply-all:before { content: "\f45B"; }
    .fi-reproduction:before { content: "\f45C"; }
    .fi-resistor:before { content: "\fB1F"; }
    .fi-restart:before { content: "\f708"; }
    .fi-restart-off:before { content: "\fD71"; }
    .fi-restore:before { content: "\f99A"; }
    .fi-restore-clock:before { content: "\f6A7"; }
    .fi-rewind:before { content: "\f45F"; }
    .fi-rewind-outline:before { content: "\f709"; }
    .fi-rss:before { content: "\f46B"; }
    .fi-rss-box:before { content: "\f46C"; }
    .fi-ruler:before { content: "\f46D"; }
    .fi-ruler-square:before { content: "\fC9E"; }
    .fi-send:before { content: "\f48A"; }
    .fi-send-circle:before { content: "\fDD4"; }
    .fi-send-circle-outline:before { content: "\fDD5"; }
    .fi-send-lock:before { content: "\f7EC"; }
    .fi-server:before { content: "\f48B"; }
    .fi-server-minus:before { content: "\f48C"; }
    .fi-server-network:before { content: "\f48D"; }
    .fi-server-network-off:before { content: "\f48E"; }
    .fi-server-off:before { content: "\f48F"; }
    .fi-server-plus:before { content: "\f490"; }
    .fi-server-remove:before { content: "\f491"; }
    .fi-settings:before { content: "\f493"; }
    .fi-settings-box:before { content: "\f494"; }
    .fi-settings-helper:before { content: "\fA6D"; }
    .fi-settings-outline:before { content: "\f8BA"; }
    .fi-share:before { content: "\f496"; }
    .fi-share-outline:before { content: "\f931"; }
    .fi-share-variant:before { content: "\f497"; }
    .fi-signature:before { content: "\fDD7"; }
    .fi-signature-freehand:before { content: "\fDD8"; }
    .fi-skip-backward:before { content: "\f4AB"; }
    .fi-skip-forward:before { content: "\f4AC"; }
    .fi-skip-next:before { content: "\f4AD"; }
    .fi-skip-next-circle:before { content: "\f661"; }
    .fi-skip-next-circle-outline:before { content: "\f662"; }
    .fi-skip-previous:before { content: "\f4AE"; }
    .fi-skip-previous-circle:before { content: "\f663"; }
    .fi-skip-previous-circle-outline:before { content: "\f664"; }
    .fi-sort:before { content: "\f4BA"; }
    .fi-space-invaders:before { content: "\fBA5"; }
    .fi-spellcheck:before { content: "\f4C6"; }
    .fi-ssh:before { content: "\f8BF"; }
    .fi-star:before { content: "\f4CE"; }
    .fi-star-box:before { content: "\fA72"; }
    .fi-star-box-outline:before { content: "\fA73"; }
    .fi-star-circle:before { content: "\f4CF"; }
    .fi-star-circle-outline:before { content: "\f9A3"; }
    .fi-star-outline:before { content: "\f4D2"; }
    .fi-sticker:before { content: "\f5D0"; }
    .fi-sticker-emoji:before { content: "\f784"; }
    .fi-stop:before { content: "\f4DB"; }
    .fi-stop-circle:before { content: "\f666"; }
    .fi-stop-circle-outline:before { content: "\f667"; }
    .fi-subdirectory-arrow-left:before { content: "\f60C"; }
    .fi-subdirectory-arrow-right:before { content: "\f60D"; }
    .fi-svg:before { content: "\f720"; }
    .fi-switch:before { content: "\f4E4"; }
    .fi-sync:before { content: "\f4E6"; }
    .fi-table:before { content: "\f4EB"; }
    .fi-table-border:before { content: "\fA17"; }
    .fi-table-column:before { content: "\f834"; }
    .fi-table-column-plus-after:before { content: "\f4EC"; }
    .fi-table-column-plus-before:before { content: "\f4ED"; }
    .fi-table-column-remove:before { content: "\f4EE"; }
    .fi-table-column-width:before { content: "\f4EF"; }
    .fi-table-edit:before { content: "\f4F0"; }
    .fi-table-large:before { content: "\f4F1"; }
    .fi-table-merge-cells:before { content: "\f9A5"; }
    .fi-table-of-contents:before { content: "\f835"; }
    .fi-table-plus:before { content: "\fA74"; }
    .fi-table-remove:before { content: "\fA75"; }
    .fi-table-row:before { content: "\f836"; }
    .fi-table-row-height:before { content: "\f4F2"; }
    .fi-table-row-plus-after:before { content: "\f4F3"; }
    .fi-table-row-plus-before:before { content: "\f4F4"; }
    .fi-table-row-remove:before { content: "\f4F5"; }
    .fi-table-search:before { content: "\f90E"; }
    .fi-table-settings:before { content: "\f837"; }
    .fi-tag:before { content: "\f4F9"; }
    .fi-tag-minus:before { content: "\f90F"; }
    .fi-tag-multiple:before { content: "\f4FB"; }
    .fi-tag-outline:before { content: "\f4FC"; }
    .fi-tag-plus:before { content: "\f721"; }
    .fi-tag-remove:before { content: "\f722"; }
    .fi-tag-text-outline:before { content: "\f4FD"; }
    .fi-text:before { content: "\f9A7"; }
    .fi-textbox:before { content: "\f60E"; }
    .fi-textbox-password:before { content: "\f7F4"; }
    .fi-texture:before { content: "\f50C"; }
    .fi-theme-light-dark:before { content: "\f50E"; }
    .fi-thought-bubble:before { content: "\f7F5"; }
    .fi-thought-bubble-outline:before { content: "\f7F6"; }
    .fi-thumb-down:before { content: "\f511"; }
    .fi-thumb-down-outline:before { content: "\f512"; }
    .fi-thumb-up:before { content: "\f513"; }
    .fi-thumb-up-outline:before { content: "\f514"; }
    .fi-thumbs-up-down:before { content: "\f515"; }
    .fi-timer:before { content: "\f51B"; }
    .fi-timer-10:before { content: "\f51C"; }
    .fi-timer-3:before { content: "\f51D"; }
    .fi-timer-off:before { content: "\f51E"; }
    .fi-timer-sand:before { content: "\f51F"; }
    .fi-timer-sand-empty:before { content: "\f6AC"; }
    .fi-timer-sand-full:before { content: "\f78B"; }
    .fi-timetable:before { content: "\f520"; }
    .fi-toggle-switch:before { content: "\f521"; }
    .fi-toggle-switch-off:before { content: "\f522"; }
    .fi-toggle-switch-off-outline:before { content: "\fA18"; }
    .fi-toggle-switch-outline:before { content: "\fA19"; }
    .fi-toolbox:before { content: "\f9AB"; }
    .fi-toolbox-outline:before { content: "\f9AC"; }
    .fi-tooltip:before { content: "\f523"; }
    .fi-tooltip-edit:before { content: "\f524"; }
    .fi-tooltip-outline:before { content: "\f526"; }
    .fi-tooltip-plus:before { content: "\fBB2"; }
    .fi-tooltip-plus-outline:before { content: "\f527"; }
    .fi-tooltip-text:before { content: "\f528"; }
    .fi-tooltip-text-outline:before { content: "\fBB3"; }
    .fi-tor:before { content: "\f52A"; }
    .fi-trademark:before { content: "\fA77"; }
    .fi-trash-can:before { content: "\fA78"; }
    .fi-trash-can-outline:before { content: "\fA79"; }
    .fi-tree:before { content: "\f531"; }
    .fi-twitter:before { content: "\f544"; }
    .fi-twitter-box:before { content: "\f545"; }
    .fi-twitter-circle:before { content: "\f546"; }
    .fi-twitter-retweet:before { content: "\f547"; }
    .fi-two-factor-authentication:before { content: "\f9AE"; }
    .fi-update:before { content: "\f6AF"; }
    .fi-upload:before { content: "\f552"; }
    .fi-upload-multiple:before { content: "\f83C"; }
    .fi-upload-outline:before { content: "\fDE3"; }
    .fi-usb:before { content: "\f553"; }
    .fi-video:before { content: "\f567"; }
    .fi-video-off:before { content: "\f568"; }
    .fi-video-off-outline:before { content: "\fBB7"; }
    .fi-video-outline:before { content: "\fBB8"; }
    .fi-view-agenda:before { content: "\f56A"; }
    .fi-view-array:before { content: "\f56B"; }
    .fi-view-carousel:before { content: "\f56C"; }
    .fi-view-column:before { content: "\f56D"; }
    .fi-view-dashboard:before { content: "\f56E"; }
    .fi-view-dashboard-outline:before { content: "\fA1C"; }
    .fi-view-dashboard-variant:before { content: "\f842"; }
    .fi-view-day:before { content: "\f56F"; }
    .fi-view-grid:before { content: "\f570"; }
    .fi-view-headline:before { content: "\f571"; }
    .fi-view-list:before { content: "\f572"; }
    .fi-view-module:before { content: "\f573"; }
    .fi-view-parallel:before { content: "\f727"; }
    .fi-view-quilt:before { content: "\f574"; }
    .fi-view-sequential:before { content: "\f728"; }
    .fi-view-split-horizontal:before { content: "\fBA7"; }
    .fi-view-split-vertical:before { content: "\fBA8"; }
    .fi-view-stream:before { content: "\f575"; }
    .fi-view-week:before { content: "\f576"; }
    .fi-voice:before { content: "\f5CB"; }
    .fi-voicemail:before { content: "\f57D"; }
    .fi-volume-high:before { content: "\f57E"; }
    .fi-volume-low:before { content: "\f57F"; }
    .fi-volume-medium:before { content: "\f580"; }
    .fi-volume-minus:before { content: "\f75D"; }
    .fi-volume-mute:before { content: "\f75E"; }
    .fi-volume-off:before { content: "\f581"; }
    .fi-volume-plus:before { content: "\f75C"; }
    .fi-volume-variant-off:before { content: "\fDE4"; }
    .fi-wallet:before { content: "\f584"; }
    .fi-wallet-giftcard:before { content: "\f585"; }
    .fi-wallet-membership:before { content: "\f586"; }
    .fi-wallet-outline:before { content: "\fBB9"; }
    .fi-wallet-travel:before { content: "\f587"; }
    .fi-wikipedia:before { content: "\f5AC"; }
    .fi-window-close:before { content: "\f5AD"; }
    .fi-window-closed:before { content: "\f5AE"; }
    .fi-window-maximize:before { content: "\f5AF"; }
    .fi-window-minimize:before { content: "\f5B0"; }
    .fi-window-open:before { content: "\f5B1"; }
    .fi-window-restore:before { content: "\f5B2"; }
    .fi-windows:before { content: "\f5B3"; }
    .fi-windows-classic:before { content: "\fA20"; }
    .fi-wrench:before { content: "\f5B7"; }
    .fi-wrench-outline:before { content: "\fBBC"; }
    .fi-youtube:before { content: "\f5C3"; color:red; }